.filmlist{
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
}

span{
    margin: 5px 0 5px 20px;
    font-size: 25px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.films{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.film{
    margin: 20px;
}

p{
    text-align: center
}

input{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 7px 10px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  border: 1px solid #1DE782;
  font-size: 18px;
  height: 40px;
}
