<div class="filmlist">

  <div class="select-cinema">
    <span>Кинотеатр</span>
      <input [id]="cinema.cinemaId" type="button" [value]="cinema.cinemaName" *ngFor="let cinema of cinemaFilms" #cinemaSelect (click)="oncinemaSelected(cinema.cinemaId)">
  </div>

  <h1>Сейчас в прокате</h1>

  <div class="films">
    <div class="film" *ngFor="let film of films">
      <img class="poster" src="data:image/jpeg;base64,{{film.poster}}" [routerLink]="['/film', film.filmId]"/>
      <p>{{film.filmName}}</p>
    </div>
  </div>

</div>
