<div class="content-container">
  <div class="ticket">
    <div class="ticket-info">
      <div class="info-section">
        <span>Дата</span>
        <p>{{ date }}</p>
      </div>

      <div class="info-section">
        <span>Фильм</span>
        <p>{{ filmName | uppercase }}</p>
      </div>

      <div class="info-section">
        <span>{{ cinemaName }}</span>
        <p>{{ cinemaHallName }}</p>
      </div>

      <div class="info-section-double">
        <div class="info-section">
          <span>Билет ({{ seatsQuantity }})</span>
          <p>{{ seats }}</p>
        </div>
        <div class="info-section">
          <span>Время</span>
          <p>{{ time }}</p>
        </div>
      </div>

      <div class="info-section">
        <p>Итого: {{ totalCost }}</p>
      </div>

      <div class="info-section-double">
        <input
          class="button-cancel"
          type="button"
          value="Отмена"
          [routerLink]="'/film/' + filmId"
        />
        <input
          class="button-order"
          type="button"
          value="Забронировать"
          (click)="toOrder()"
        />
      </div>
    </div>
  </div>
</div>
