<div class="admin-pane">
  <input
    class="pane-button"
    type="button"
    value="Сеансы"
    routerLink="/admin/sessions"
    routerLinkActive="active-btn"
  />
  <input
    class="pane-button"
    type="button"
    value="Фильмы"
    routerLink="/admin/films"
    routerLinkActive="active-btn"
  />
  <input
    class="pane-button"
    type="button"
    value="Шаблоны залов"
    routerLink="/admin/templates"
    routerLinkActive="active-btn"
  />
  <input
    class="pane-button"
    type="button"
    value="Кинотеатры"
    routerLink="/admin/cinemas"
    routerLinkActive="active-btn"
  />
  <input
    class="pane-button"
    type="button"
    value="Статистика"
    routerLink="/admin/stats"
    routerLinkActive="active-btn"
  />
  <input
    class="pane-button"
    type="button"
    value="Пользователи"
    routerLink="/admin/users"
    routerLinkActive="active-btn"
  />
</div>
