.film-schedule{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.film-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1{
  font-size: 25px;
}

h2{
  font-size: 16px;
}

.table-film{
  font-size: 20px;
  max-width: 850px;
}

.table-film td{
  vertical-align: top;
  padding-bottom: 25px;
  padding-left: 20px;
}

img{
  margin: auto 20px;
}

.div-schedule{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p{
  font-size: 25px;
}

input{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 7px 10px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  border: 1px solid #1DE782;
  font-size: 18px;
  height: 40px;
}
input:hover {
  cursor: pointer;
  background-color: #1DE782;
  color: white;
  transition: 0.2s;
}

.schedule{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cinema-name, .cinemahall-name{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.selected-date, .selected-time{
  font-size: 18px;
  margin-bottom: 5px;
}

.submit-button{
  border-radius: 10px;
  background-color: #1DE782;
  font-size: 18px;
  width: 100%;
  margin: 5px 0 5px 0;
}
.user-select{
  width: fit-content;
}

.confirm-selection{
  border: 1px solid white;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 15px 25px;
  margin: 25px 20px;
}
