<div class="film-schedule">

  <div class="film-info">
    <div>
      <img src="/assets/images/poster.png">
    </div>

    <div id="filmDescription" class="film-description">
      <table class="table-film">

        <tr>
          <td colspan="2"><h1>{{film.filmName}}</h1></td>
        </tr>

        <tr>
          <td>Жанр</td>
          <td>{{film.filmGenres}}</td>
        </tr>

        <tr>
          <td>Длительность</td>
          <td>{{film.duration}}</td>
        </tr>

        <tr>
          <td>Описание</td>
          <td>{{film.description}}</td>
        </tr>

      </table>
    </div>
  </div>

  <div class="div-schedule">
    <p>Кинотеатр</p>
    <div>
      <input [id]="'cinema-' + (cinema.cinemaId).toString()" type="button" [value]="cinema.cinemaName" *ngFor="let cinema of cinemas" #cinemaSelect (click)="oncinemaSelected(cinema)">
    </div>
  </div>

  <div class="div-schedule">
    <p>Кинозал</p>
    <div>
      <input class="cinemahall" type="button" [id]="'hall-'+ (hall.cinemaHallId).toString()" [value]="hall.cinemaHallName" *ngFor="let hall of cinemaHalls" #cinemahallSelect (click)="onCinemaHallSelected(hall)">
    </div>
  </div>

  <div class="div-schedule">
    <p>День</p>
    <div>
      <input type="button" [id]="'date-' + (date.date).toString()" [value]="date.dateValue" *ngFor="let date of dayMonths" #cinemahallSelect (click)="onDateSelected(date)">
    </div>
  </div>

  <div class="div-schedule">
    <p>Время</p>
    <div>
      <input type="button" [id]="'time-' + (time.date).toString()" [value]="time.dateValue" *ngFor="let time of times" #cinemahallSelect>
    </div>
  </div>

</div>
