<div class="content-container">
  <h1>Справка о системе бронирования</h1>

  <div class="select-info">
    <input
      id="dev-info"
      type="button"
      value="Информация о разработчиках"
      [ngClass]="{ active: isDevInfo }"
      routerLink="dev-info"
      (click)="isDevInfo = true"
    />

    <input
      type="button"
      value="Справка пользователя"
      [ngClass]="{ active: !isDevInfo }"
      routerLink="instruction"
      (click)="isDevInfo = false"
    />
  </div>

  <div class="info-container">
    <router-outlet> </router-outlet>
  </div>
</div>
