<div class="instruction">
  <ol class="main-list">
    <li class="schedule-check-up" type="I">
      <p>Просмотр расписания</p>
      <ol class="schedule-list">
        <p>Для просмотра расписания сеансов на кинофильм необходимо:</p>
        <li>
          <p>Нажать на постер желаемого кинофильма.</p>
          <img
            src="../../../../assets/images/instruction/schedule/first-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>
            На открывшейся странице фильма выбрать нужные кинотеатр, кинозал
            (опционально), день, кликнув на соответствующие кнопки. Внизу
            отобразится время начала доступных сеансов.
          </p>
          <img
            src="../../../../assets/images/instruction/schedule/second-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <p>
          Просмотр расписания доступен как авторизованным, так и
          неавторизованным пользователям. Другие функции доступны только
          авторизованным пользователям!
        </p>
      </ol>
    </li>
    <li class="registration" type="I">
      <p>Регистрация</p>
      <ol class="registration-list">
        <p>Для того, чтобы зарегистрироваться в системе, необходимо:</p>
        <li>
          <p>Нажать на кнопку "Регистрация" в правом верхнем углу экрана.</p>
          <img
            src="../../../../assets/images/instruction/registration/first-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>На открывшейся странице регистрации заполнить поля формы.</p>
          <img
            src="../../../../assets/images/instruction/registration/second-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>После заполнения полей, нажать на кнопку "Зарегистрироваться".</p>
          <img
            src="../../../../assets/images/instruction/registration/third-step.png"
            alt="Ошибка загрузки"
          />
        </li>
      </ol>
    </li>
    <li class="authorization" type="I">
      <p>Авторизация</p>
      <ol class="authorization-list">
        <p>Для того, чтобы авторизоваться в системе, необходимо:</p>
        <li>
          <p>Нажать на кнопку "Вход" в правом верхнем углу экрана.</p>
          <img
            src="../../../../assets/images/instruction/authorization/first-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>На открывшейся странице авторизации заполнить поля формы.</p>
          <img
            src="../../../../assets/images/instruction/authorization/second-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>После заполнения полей, нажать на кнопку "Зарегистрироваться".</p>
          <img
            src="../../../../assets/images/instruction/authorization/third-step.png"
            alt="Ошибка загрузки"
          />
        </li>
      </ol>
    </li>
    <li class="ticket-book" type="I">
      <p>Бронирование билетов</p>
      <ol class="ticket-book-list">
        <p>Для бронирования билетов, необходимо:</p>
        <li>
          <p>
            Повторить действия из пункта "Просмотр расписания", предварительно
            авторизовавшись.
          </p>
        </li>
        <li>
          <p>
            Выбрать подходящее время сеанса из списка доступных, кликнув по
            соответствующей кнопке.
          </p>
          <img
            src="../../../../assets/images/instruction/book/second-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>Кликнуть на кнопку "Далее" в появившемся окне</p>
          <img
            src="../../../../assets/images/instruction/book/third-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>
            На странице выбора места, выбрать нужные места, кликнув на них и
            нажать на кнопку "Забронировать".
          </p>
          <img
            src="../../../../assets/images/instruction/book/fourth-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>
            Далее система откроет страницу подтверждения заказа. Для
            подтверждения заказа нажмите кнопку "Забронировать".
          </p>
          <img
            src="../../../../assets/images/instruction/book/fifth-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>
            Если бронирование прошло успешно, система откроет страницу со
            статусом бронирования
          </p>
          <img
            src="../../../../assets/images/instruction/book/sixth-step.png"
            alt="Ошибка загрузки"
          />
        </li>
      </ol>
    </li>
    <li class="ticket-check-up" type="I">
      <p>Просмотр билетов</p>
      <ol class="ticket-check-up-list">
        <p>Для того, чтобы просмотреть имеющиеся билеты, необходимо:</p>
        <li>
          <p>
            Предварительно авторизоваться/зарегистрироваться в системе (см.
            пункты II, III).
          </p>
        </li>
        <li>
          <p>Забронировать билет на сеанс (см. пункт IV).</p>
        </li>
        <li>
          <p>На главной странице нажать на кнопку "Мои билеты"</p>
          <img
            src="../../../../assets/images/instruction/ticket-check/first-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>
            Система откроет страницу с информацией о билетах на предстоящие
            сеансы
          </p>
          <img
            src="../../../../assets/images/instruction/ticket-check/second-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>
            Для просмотра информации о билетах на прошедшие сеансы необходимо
            кликнуть на кнопку "История"
          </p>
          <img
            src="../../../../assets/images/instruction/ticket-check/third-step.png"
            alt="Ошибка загрузки"
          />
        </li>
      </ol>
    </li>
    <li class="download-ticket" type="I">
      <p>Скачать билеты</p>
      <ol class="authorization-list">
        <p>Для того, чтобы скачать билет на сеанс, необходимо:</p>
        <li>
          <p>
            Повторить действия 1-4 из пункта "Просмотр билетов" <br />
            (скачивание билетов доступно только для предстоящих сеансов)
          </p>
        </li>
        <li>
          <p>
            На странице просмотра информации о билетах предстоящие сеансы,
            <br />
            нажать на кнопку "Скачать билет" нужного билета.
          </p>
          <img
            src="../../../../assets/images/instruction/download-ticket/first-step.png"
            alt="Ошибка загрузки"
          />
        </li>
        <li>
          <p>
            Во вкладке "Загрузки" браузера появится PDF-файл выбранного билета
          </p>
        </li>
      </ol>
    </li>
  </ol>
</div>
