<div class="wrapper">
  <div class="templates">
    <h1>Шаблоны кинозалов</h1>
    <img src="./assets/images/svg/add.svg" alt="" routerLink="add-template" />
    <table>
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Действия</th>
      </tr>
      <tr
        class="content"
        *ngFor="let template of templates; let indexOfElement = index"
      >
        <td class="template-name">{{ indexOfElement + 1 }}</td>
        <td class="template-name">{{ template.templateName }}</td>
        <td>
          <div class="buttons">
            <img src="./assets/images/svg/edit.svg" alt="" />
            <img
              src="./assets/images/svg/delete.svg"
              alt=""
              (click)="deleteTemplate(template.templateId)"
            />
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="place-type">
    <app-place-type></app-place-type>
  </div>
</div>
