form {
  padding: 5px;
  width: 100%;
}

.form{
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  background-color: white;
  width: 550px;
  margin: 25px auto;
}

.form-header {
  margin: 20px auto;
  font-size: 25px;
}

.container1 {
  /*margin: 15px 30px auto;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container2 {
  /*display: inline-block;*/
  width: 90%;
}

label {
  color: black;
  display: block;
  margin: 5px 0;
}


input {
  padding: 10px;
  border: 1px solid #ced4da;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.submit-pane{
  margin: 20px auto;
  width: 90%;
}
.submit-button {
  font-size: 15px;
  background-color: #1DE782;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 100%;
}

.login-pane {
  text-align: center;
  margin: 0 auto 20px auto;
  color:#6C757D;
  width: 90%;
}

a{
  text-decoration: none;
  color: #1DE782;
}

.error {
  color: red;
}

