<div class="wrapper">
  <div class="films">
    <h1>Фильмы</h1>

    <img src="./assets/images/svg/add.svg" alt="" (click)="openModal()" />
    <table>
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Действия</th>
      </tr>
      <tr
        class="content"
        *ngFor="let film of films; let indexOfElement = index"
      >
        <td>{{ indexOfElement + 1 }}</td>
        <td class="film-name">{{ film.filmName }}</td>
        <td>
          <div class="buttons">
            <img
              src="./assets/images/svg/edit.svg"
              alt=""
              (click)="openModal(film)"
            />
            <img
              src="./assets/images/svg/delete.svg"
              alt=""
              (click)="deleteFilm(film.filmId)"
            />
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="genres">
    <app-genres></app-genres>
  </div>
</div>

<ng-container *ngIf="isModalOpen">
  <app-film-modal
    [oldFilm]="oldFilm"
    [isEditing]="isEditing"
    (closeEvent)="closeModal($event)"
    (saveEvent)="addFilm($event)"
    (editEvent)="editFilm($event)"
  ></app-film-modal>
</ng-container>
