h1 {
  margin-bottom: 0.5em;
  font-family: 'Poppins', sans-serif;
}

div{
  padding: 1em;
  margin: 1em;
}

table {
  width: fit-content;
}

table, tr, th, td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

th, td {
  vertical-align: middle;
  padding: 0.5em;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
