<h1>Жанры</h1>

<img src="./assets/images/svg/add.svg" alt="" (click)="openModal()" />
<table>
  <tr>
    <th>#</th>
    <th>Название</th>
    <th>Действия</th>
  </tr>
  <tr class="content" *ngFor="let genre of genres; let indexOfElement = index">
    <td>{{ indexOfElement + 1 }}</td>
    <td class="film-name">{{ genre.genreName }}</td>
    <td>
      <div class="buttons">
        <img
          src="./assets/images/svg/edit.svg"
          alt=""
          (click)="openModal(genre)"
        />
        <img
          src="./assets/images/svg/delete.svg"
          alt=""
          (click)="deleteGenre(genre.genreId)"
        />
      </div>
    </td>
  </tr>
</table>

<ng-container *ngIf="isModalOpen">
  <app-genre-modal
    [oldGenre]="oldGenre"
    (closeEvent)="closeModal($event)"
    (saveEvent)="addGenre($event)"
    (editEvent)="editGenre($event)"
  ></app-genre-modal>
</ng-container>
