.content-container  {
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 100%;
}

h1 {
  text-align: center;
}

.select-tickets {
  margin: 20px;
  text-align: center;
}

span{
  margin: 5px 0 5px 20px;
  font-size: 25px;
}

input{
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 7px 10px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  border: 1px solid #1DE782;
  font-size: 18px;
  height: 40px;
}

input:hover {
  cursor: pointer;
  background-color: #1DE782;
  color: white;
  transition: 0.2s;
}

.active {
  background-color: #1DE782;
  color: white;
}
