<div class="dev-info-container">
  <div class="general-info">
    <div class="uni-info">
      <p>Самарский университет</p>
      <p>Кафедра программных систем</p>
    </div>
    <div class="project-info">
      <p>Курсовой проект по дисциплине "Программная инженерия"</p>
      <p>
        по теме: " Автоматизированная система бронирования билетов в кинотеатре
        "
      </p>
    </div>
    <p>Разработчики студенты группы 6414-020302D:</p>
  </div>
  <div class="dev-names">
    <p>Р.С. Ильин</p>
    <p>А.Н. Перепечаев</p>
    <p>Д.В. Подсобилов</p>
    <p>Д.А. Романов</p>
  </div>

  <p>Самара 2023г.</p>
</div>
