.dev-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px
}

.uni-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 50px;
}

.project-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;

}

.dev-names {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  gap: 10px
}

.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
