<div class="ticket-info">
  <div class="info-section">
    <span>Дата</span>
    <p>{{ getDate(ticket.date) }}</p>
  </div>

  <div class="info-section">
    <span>Фильм</span>
    <p>{{ ticket.filmName | uppercase }}</p>
  </div>

  <div class="info-section">
    <span>Кинотеатр - {{ ticket.cinemaName }}</span>
    <p>{{ ticket.cinemaHallName }}</p>
  </div>

  <div class="info-section-last">
    <div class="info-section">
      <span>Место ({{ ticket.placeTypeName }})</span>
      <p>{{ ticket.placeName }}</p>
    </div>
    <div class="info-section">
      <span>Время</span>
      <p>{{ getTime(ticket.date) }}</p>
    </div>
  </div>

  <div class="info-section">
    <button
      [ngClass]="{
        'button-active': isUpcoming
      }"
      (click)="downloadTicket()"
    >
      Скачать билет
    </button>
  </div>
</div>
<canvas #canvasElement>
  <qrcode
    *ngIf="qrCodeData !== ''"
    [width]="150"
    elementType="img"
    qrdata="{{ qrCodeData }}"
  ></qrcode>
</canvas>
<canvas #imageElement>
  <img src="../../../assets/images/background.png" />
</canvas>
