<h1>Кинозалы</h1>
<img src="./assets/images/svg/add.svg" alt="" (click)="openModal()" />
<table>
  <tr>
    <th>#</th>
    <th>Название</th>
    <th>Шаблон</th>
    <th>Действия</th>
  </tr>
  <tr
    class="hall-info"
    *ngFor="
      let hall of this.adminCinemasService.hallsForSelectedCinema;
      let indexOfElement = index
    "
  >
    <td>{{ indexOfElement + 1 }}</td>
    <td>{{ hall.cinemaHallName }}</td>
    <td>{{ hall.cinemaHallTypeName }}</td>
    <td>
      <div class="buttons">
        <img
          src="./assets/images/svg/edit.svg"
          alt=""
          (click)="openModal(hall)"
        />
        <img
          src="./assets/images/svg/delete.svg"
          alt=""
          (click)="deleteHall(hall.cinemaHallId)"
        />
      </div>
    </td>
  </tr>
</table>

<ng-container *ngIf="isModalOpen">
  <app-hall-modal
    [oldHall]="oldHall"
    [isEditing]="isEditing"
    (closeEvent)="closeModal($event)"
    (saveEvent)="addHall($event)"
    (editEvent)="editHall($event)"
  ></app-hall-modal>
</ng-container>
