
h1 {
  margin-bottom: 0.5em;
  font-family: 'Poppins', sans-serif;
}

table {
  width: 100%;
}

table, tr, th, td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.hall-info:hover{
  background-color: lightgray;
  cursor: pointer;
  transition: 0.2s;
}

th, td {
  vertical-align: middle;
  padding: 0.5em;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
